* {
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #E6E5EA;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.app {
  min-height: 100vh;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08070B;

  @media screen and (max-width: 768px) {
    padding: 60px 16px;
  }
}

.generator {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font-size: 24px;
    color: #817D92;
    text-align: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    position: relative;
    width: 100%;
  }

  &__copy {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 21px;
    height: 24px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform .4s ease;

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }
  }

  &__input {
    width: 100%;
    padding: 19px 64px 19px 32px;
    background-color: #24232C;
    border: none;
    outline: none;
    color: #E6E5EA;
    font-size: 32px;
    line-height: 1.31;
    font-weight: 700;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 32px;
    background-color: #24232C;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__length {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    p {
      font-size: 18px;
    }

    span {
      font-size: 32px;
      line-height: 1.31;
      color: #A4FFAF;
    }
  }

  &__range {
    width: 100%;

    input[type='range'] {
      width: 100%;
      appearance: none;
      background: transparent;
      cursor: pointer;

      --p: 0%;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 8px;
      border-radius: 999px;
      background: linear-gradient(
                      to right,
                      #a4ffaf 0%,
                      #a4ffaf var(--p),
                      #18171f var(--p),
                      #18171f 100%
      );
    }

    input[type='range']::-webkit-slider-thumb {
      appearance: none;
      width: 28px;
      height: 28px;
      background: #e6e5ea;
      border-radius: 50%;
      margin-top: -10px;
      border: 2px solid transparent;
    }

    input[type='range']:active::-webkit-slider-thumb {
      background: #18171F;
      border-color: #a4ffaf;
    }

    /* Firefox */
    input[type='range']::-moz-range-track {
      height: 8px;
      background: #18171f;
      border-radius: 999px;
    }

    input[type='range']::-moz-range-progress {
      height: 8px;
      background: #a4ffaf;
      border-radius: 999px;
    }

    input[type='range']::-moz-range-thumb {
      width: 28px;
      height: 28px;
      background: #e6e5ea;
      border-radius: 50%;
      border: 2px solid transparent;
    }

    input[type='range']:active::-moz-range-thumb {
      background: #a4ffaf;
      border-color: #e6e5ea;
    }
  }

  &__settings {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;

    input[type='checkbox'] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: background-color .4s ease;
    }

    .text {
      font-size: 18px;
    }

    .checkbox {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      border: 2px solid #E6E5EA;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .checkbox::after {
      content: '';
      width: 14px;
      height: 12px;
      opacity: 0;
      transition: opacity .4s ease;
      background-image: url('../assets/images/icon-check.svg');
    }

    input[type='checkbox']:checked + .checkbox {
      background-color: #A4FFAF;
      border-color: #a4ffaf;
    }

    input[type='checkbox']:checked + .checkbox::after {
      opacity: 1;
    }
  }

  &__strength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    background-color: #18171F;

    p {
      font-size: 18px;
      color: #817D92;
    }

    &-value {
      margin-left: auto;
      margin-right: 16px;
      text-transform: uppercase;
    }
  }

  &__bar {
    display: flex;
    gap: 8px;

    span {
      width: 10px;
      height: 28px;
      border: 2px solid #e6e5ea;
      background: transparent;
    }
  }

  &__strength[data-level='too-weak'] {

    .generator__bar span.is-active {
      background: #f64a4a;
      border-color: #f64a4a;
    }
  }

  &__strength[data-level='weak'] {

    .generator__bar span.is-active {
      background: #fb7c58;
      border-color: #fb7c58;
    }
  }

  &__strength[data-level='medium'] {

    .generator__bar span.is-active {
      background: #f8cd65;
      border-color: #f8cd65;
    }
  }

  &__strength[data-level='strong'] {

    .generator__bar span.is-active {
      background: #a4ffaf;
      border-color: #a4ffaf;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 24px;
    color: #24232C;
    background-color: #A4FFAF;
    border: 2px solid #A4FFAF;
    outline: none;
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;

    span {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.33;
    }

    svg {

      path {
        transition: fill .4s ease;
      }
    }

    &:hover {
      color: #A4FFAF;
      background-color: transparent;

      path {
        fill: #A4FFAF;
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    gap: 16px;

    &__title {
      font-size: 16px;
    }

    &__wrap {
      gap: 16px;
    }

    &__copy {
      right: 16px;
    }

    &__input {
      padding: 16px 32px 16px 16px;
      font-size: 24px;
    }

    &__main {
      padding: 16px;
    }

    &__top {
      gap: 8px;
    }

    &__length {

      p {
        font-size: 16px;
      }

      span {
        margin-right: 14px;
        font-size: 24px;
      }
    }

    &__checkbox {
      gap: 16px;

      .text {
        font-size: 16px;
      }
    }

    &__strength {
      padding: 14px 16px;

      p {
        font-size: 16px;
      }
    }

    &__btn {
      padding: 18px;
      gap: 16px;
      font-size: 16px;
    }
  }
}
